* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* ensure that about-me and work top info will not go under the header when selected */
  #aboutme-nav, #work-nav{
    position: relative;
    top: -125px;
}

/* header section START */
header {
    z-index: 9999;
    color: #91CBCD;
    background-color: black;
    background-position: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    background-attachment: fixed;
    top: 0;
}

header h1 {
    font-weight: bold;
    margin-left: 1%;
    font-size: 3.5vw;
    background-color: #91CBCD;
    padding: 15px 50px;
    border-radius: 15px;
}

header h1 a {
    border: 0;
    text-decoration: none;
    color: black;
}

header nav {
    margin: 15px 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 15px 15px;
    font-size: 1.9vw;
    color: #91CBCD;
}
  
header nav ul li a:hover {
    background: #91CBCD;
    color: black;
    font-size: 2vw;
    font-weight: bolder;
    border-radius: 15px;
}
/* header section END */

/* hero section START */
.hero {
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    background-position: 100%;
}

.hero img {
    margin: 1% 1%;
    width: 15%;
    border-radius: 100px;
    border: 3px solid #91CBCD;
    position: relative;
    left: 0;
}

.hero h2 {
    margin: 250px 30px 5px;
    color: black;
    background-color: #91CBCD;
    padding: 20px 15px;
    border-radius: 15px;
}
/* hero section END */

main {
    background-image: url('../images/background-pattern.jpg');
    background-size: cover;
}

/* main section START */
.main-section {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    width: 100%;
}

.main-section h2{
    color: #2A607C;
    font-size: 4vw;
    width: 15vw;
    min-height: 100px;
    overflow: hidden;
    text-align: right;
    padding-right: 3%;
}

.main-content {
    min-height: 100px;
    overflow: hidden;
    margin: 1% 0;
    border-left: 5px solid black;
}

.main-section p {
    margin: 10px 20px;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.main-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
    padding: 0 2%;
}

.main-project {
   width: 20vw;
   justify-content: center;
   text-align: center;
   margin: 3vh 0;
}

.main-project h3 {
    font-size: 1.5vw;
    color: #2A607C;
    font-weight: bold;
    background-color: #91CBCD;
}

.main-project img, .project-highlight img {
   height: 100%;
   width: 100%;
   padding: 0 3%;
}

.project-highlight img:hover {
    opacity: 0.5;
}

.main-project img:hover + .main-project h3{
    text-align: center;
    height: 120%;
    width: 120%;
    font-size: 1.7vw;
}

.main-projects-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1% 0;
    border-left: 5px solid black;
}
/* main section END */

/* smaller screen and mobile */
@media screen and (max-width: 575px) {
    header {
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    header h1 {
        font-size: 1.5em;
    }

    header nav ul li a{
        font-size: 0.6em;
    }

    .hero img {
        width: 25%;
    }

    .hero h2 {
        font-size: 1em;
    }

    .main-section {
        flex-direction: column;
        border-top: 4px solid black;
    }

    .main-section h2{
        min-height: initial;
        width: initial;
        font-size: 2em;
        text-align: center;
        padding: 3%;
    }

    .main-content, .main-projects-wrapper{
        border-left: none;
    }   
}